
#titlenav{
    margin-top: 8px;
}
#buscadornav{
    width: 288px;
    margin-left: -23px;
}
#imgslider{
    height: 381px;
}
#ubicacion{
    margin-top: -22px;
    margin-left: 75px;
}
#imgcard{
    height: 141px;
}